#^css same=append

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

* 		{box-sizing:border-box;}
html	{scroll-behavior:smooth;}
html,
body	{-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; font-weight:normal; font-style:normal;}
body	{background:#f2f2f2; font-family:sans-serif; font-size:12px; line-height:1.5em; color:#444;}
body	{display:grid; height:100vh; grid-template-rows:auto 1fr auto;}
h1		{font-size:2.5em; line-height:1.25em; font-weight:normal;}
h2		{font-size:1.75em; font-weight:normal;}
h3		{font-size:1.3em; font-weight:normal;}
a		{text-decoration:none;}
p		{margin:0.5em 0;}
img		{max-width:100%; height:auto;}
.wrap	{background:#fff;}
.content_wrap	{max-width:1280px; padding:2em 4em 4em 4em; margin:0 auto; position:relative;}
.head_wrap		{padding:0 4em 1em 4em; margin:0 auto;}
.head_text,
.head_code		{margin:0 auto; text-align:center; width:80%;}
.head_code		{width:40%; margin-top:2em;}
.head_pre		{font-family:monospace; padding:2em 1.5em; border-radius:0.35em; background-color:#e6e6e6; border:1px solid #ddd;}
.head_butt		{margin:0 auto; text-align:right; width:40%; margin-top:1em; margin-bottom:2em;}
.head_butt a	{display:inline-block; vertical-align:top; background-color:#d23c51; text-align:center; padding:0.5em 1em; border-radius:0.25em; color:#fff; margin-left:0.5em;}
.head_butt a:hover	{background-color:#e63e56;}
.text_wrap		{padding:0.5em 0 0 0; margin:0 auto; text-align:center;}
.download_wrap	{margin:0 auto; padding:0.5em 1em; border-radius:0.35em; background-color:#eaeaea; width:65%;}
.download_wrap span				{display:block;}
.download_wrap table a			{display:block; background-color:#788dae; border-radius:0.25em; padding:0.5em 1em; color:#fff; text-align:center;}
.download_wrap table a:hover	{background-color:#7a95c1;}
.download_wrap table			{table-layout:fixed; width:100%; border-spacing:1em; border-collapse:initial;}
.download_wrap table td			{font-size:0.75em;}
.download_wrap table td.name	{font-size:1em; width:60%;}
.mid_wrap		{padding:3em 4em 1em 4em; margin:0 auto;}
.data_wrap		{margin:0 auto; text-align:center;}
.chart_wrap		{height:400px; position:relative;}
.chart_header	{text-align:center; font-size:14px; font-weight:bold; margin-top:1em;}
.rate_option	{text-align:center; margin-bottom:2.5em;}
select			{border-radius:0.25em; border:1px solid #ccc; padding:0.5em;}

/*	Code for IATI sidebar	*/
.sidebar-toggler		{cursor:pointer; border:1px solid rgba(0, 0, 0, 0.1); border-radius:0.25rem;}
.sidebar-toggler:hover	{border:1px solid rgba(0, 0, 0, 0.3); text-decoration:none;}
.sidebar-toggler .sidebar-icon {display:inline-block; width:1.5em; height:1.5em; vertical-align:middle; background-repeat:no-repeat; background-position:center; background-size:100%; background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*	Footer	*/
.foot_wrap		{max-width:1280px; padding:2em 4em; margin:0 auto;}
.foot_wrap		{font-size:14px;}
.foot_cont,
.foot_cont_right	{box-sizing:border-box; display:inline-block; padding-right:2em; width:70%; vertical-align:top;}
.foot_cont_right	{width:30%; padding-right:0;}
.foot_cont_right .foot_text 	{font-size:12px;}
.foot_small		{font-size:12px;}
.foot_bold		{font-weight:bold;}
.foot_bold p	{margin:1.5em 0;}

/*	Back to top link	*/
a.top		{display:block; width:100%; padding:20px 0; text-align:center; font-size:12px; color:#444; cursor:pointer;}
a.top:hover	{background-color:#F8F8F8;}

/*	Charts	*/
.chartist-tooltip {position:absolute; display:inline-block; opacity:0; min-width:5em; padding:.5em; background:#fff; border:2px solid #444; color:#444; font-family:Oxygen,Helvetica,Arial,sans-serif; font-weight:700; text-align:center; pointer-events:none; z-index:1; -webkit-transition:opacity .2s linear; -moz-transition:opacity .2s linear; -o-transition:opacity .2s linear; transition:opacity .2s linear;}
.chartist-tooltip:before {content:""; position:absolute; top:100%; left:50%; width:0; height:0; margin-left:-15px; border:15px solid transparent; border-top-color:#444;}
.chartist-tooltip.tooltip-show {opacity:1;}
.ct-line	{pointer-events:none;}
.ct-label	{fill:rgba(0,0,0,0.4); color:rgba(0,0,0,0.4); font-size:0.75rem; line-height:1;}
.ct-chart-line .ct-label		{display:block; display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;}
.ct-label.ct-horizontal.ct-start{-webkit-box-align:flex-end; -webkit-align-items:flex-end; -ms-flex-align:flex-end; align-items:flex-end; -webkit-box-pack:flex-start; -webkit-justify-content:flex-start; -ms-flex-pack:flex-start; justify-content:flex-start; text-align:left; text-anchor:start;}
.ct-label.ct-horizontal.ct-end	{-webkit-box-align:flex-start; -webkit-align-items:flex-start; -ms-flex-align:flex-start; align-items:flex-start; -webkit-box-pack:flex-start; -webkit-justify-content:flex-start; -ms-flex-pack:flex-start; justify-content:flex-start; text-align:left; text-anchor:start;}
.ct-label.ct-vertical.ct-start	{-webkit-box-align:flex-end; -webkit-align-items:flex-end; -ms-flex-align:flex-end; align-items:flex-end; -webkit-box-pack:flex-end; -webkit-justify-content:flex-end; -ms-flex-pack:flex-end; justify-content:flex-end; text-align:right; text-anchor:end;}
.ct-label.ct-vertical.ct-end	{-webkit-box-align:flex-end; -webkit-align-items:flex-end; -ms-flex-align:flex-end; align-items:flex-end; -webkit-box-pack:flex-start; -webkit-justify-content:flex-start; -ms-flex-pack:flex-start; justify-content:flex-start; text-align:left; text-anchor:start;}
.ct-grid 				{stroke:rgba(0,0,0,0.2); stroke-width:3px; stroke-dasharray:2px;}
.ct-grid-background		{fill:none;}
.ct-point				{stroke-width:8px; stroke-linecap:round;}
.ct-line				{fill:none; stroke-width:2px;}
.ct-series-a .ct-point	{stroke:#2f7bf2;}
.ct-series-a .ct-line	{stroke:#2f7bf2;}

/*	PHONES & STUFF
				============================================= */
				
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

.head_wrap, .mid_wrap	{padding:1em;}
.head_text, .head_code	{width:initial;}
.head_pre h2	{font-size:1.3em;}
.head_butt		{text-align:center; width:initial;}
.download_wrap	{width:initial;}
.download_wrap table			{border-spacing:0.25em;}
.download_wrap table td.name	{font-size:0.65em; width:50%;}
.foot_wrap		{padding:2em; font-size:12px;}
.content_wrap	{padding:1vh; max-width:initial;}
h1	{font-size:2em;}
h3	{font-size:1em;}
}
